---
import { getProductEnhance } from "../../../data/product-enhance";

export interface Props {
  slug: string;
}

const { slug } = Astro.props as Props;
const data = getProductEnhance(slug);
---

{
  data ? (
    <section class="product-enhance">
      <div class="container">
        <div class="product-enhance__content">
          <h2>{data.title}</h2>
          <h3 class="p-subheader">{data.subtitle}</h3>
          <p>{data.description}</p>
        </div>
        <div class="product-enhance__media container--wide">
          <picture>
            <source
              srcset={data.image.webp}
              type="image/webp"
              media="(max-width: 1023px)"
            />
            <source
              srcset={data.image.png}
              type="image/png"
              media="(max-width: 1023px)"
            />
            <img
              src={data.image.png}
              alt={data.image.alt}
              width={data.image.width}
              height={data.image.height}
              loading="eager"
              decoding="async"
            />
          </picture>
        </div>
      </div>
    </section>
  ) : null
}

<style>
  .product-enhance {
    display: flex;
    flex-direction: column;
    background: var(--grey-10);
  }

  .product-enhance__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
  }

  .product-enhance__content h2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .product-enhance__content h3 {
    font-weight: var(--fw-regular);
  }

  .product-enhance__content p {
  }

  .product-enhance__media {
  }

  .product-enhance__media img {
    width: 100%;
    height: auto;
    border-radius: 2px;
  }

  /* Media Queries */
  @media (min-width: 768px) {
    .product-enhance__content {
    }
  }

  @media (min-width: 1024px) {
    .product-enhance__content {
    }
  }
</style>
