---
import Main from "../layouts/Main.astro";
import Hero from "../components/sections/landing/Hero.astro";
import AboutMission from "../components/sections/shared/AboutMission.astro";
import LandingProducts from "../components/sections/landing/LandingProducts.astro";

import LandingServices from "../components/sections/landing/LandingServices.astro";
import Contact from "../components/sections/landing/Contact.astro";
import CTABannerSplit from "../components/sections/shared/CTABannerSplit.astro";
// import Carousel from "../components/Carousel.astro";
import Carousel from "../components/ui/Carousel.astro";
import WhyUs from "../components/sections/WhyUs.astro";
import Testimonials from "../components/sections/shared/Testimonials.astro";

import { landingProductsData } from "../data/lp-products-data";
import { bannerData } from "../data/banner-data";

const images = [
  { src: "/images/Hero.png", alt: "Pic 1" },
  { src: "/images/jerry-install.jpg", alt: "Pic 2" },
  { src: "/images/WhyUs.jpg", alt: "Pic 3" },
  { src: "/images/Hero.png", alt: "Pic 4" },
  { src: "/images/Hero.png", alt: "Pic 5" },
];
---

<Main title="PerfectView">
  <Hero />
  <AboutMission />
  <LandingProducts
    heading="Custom Window Coverings for Every Space"
    subheading="Explore our full range of beautiful window treatments designed for comfort, privacy, and style—expertly measured, designed, and installed to fit your home or commercial space perfectly."
    items={landingProductsData}
    activeIndex={-1}
  />
  <LandingServices />
  <CTABannerSplit image={bannerData.image} content={bannerData.content} />

  <!-- <Carousel images={images} gap={16} circleBg="rgba(255,255,255,0.92)" /> -->
  <WhyUs />
  <Carousel images={images} gap={16} circleBg="rgba(255,255,255,0.92)" />
  <!-- <Contact /> -->
  <Testimonials />
</Main>
