---
import MissionCard from "../../ui/MissionCard.astro";
import { missionCardsData } from "../../../data/about-mission";
import Button from "../../ui/Button.astro";
---

<section class="about-mission">
  <div class="about-mission__container container">
    <div class="about-mission__image-container">
      <picture>
        <!-- Mobile WebP -->
        <source
          srcset="/images/about-lp-mbl.webp"
          type="image/webp"
          media="(max-width: 1023px)"
        />
        <!-- Mobile PNG fallback -->
        <source
          srcset="/images/about-lp-mbl.png"
          type="image/png"
          media="(max-width: 1023px)"
        />
        <!-- Desktop WebP -->
        <source
          srcset="/images/about-lp-dsk.webp"
          type="image/webp"
          media="(min-width: 1024px)"
        />
        <!-- Desktop PNG fallback -->
        <source
          srcset="/images/about-lp-dsk.png"
          type="image/png"
          media="(min-width: 1024px)"
        />
        <img
          src="/images/about-lp-dsk.png"
          alt="Layered shades on office windows"
          class="about-mission__image"
          width="797"
          height="1057"
        />
      </picture>
    </div>
    <div class="about-mission__content">
      <h2 class="about-mission__title">Family-Owned, Trusted for 15 Years</h2>
      <div class="about-mission__paragraph">
        <p>
          We’re a local, family-run business delivering beautiful, custom window
          coverings with personalized service and professional precision.
        </p>
        <p>
          At PerfectView, we take pride in enhancing interiors with expertly
          installed window treatments. With precision and care, we ensure every
          space looks and feels its best.
        </p>
      </div>

      <div class="about-mission__cards">
        {
          missionCardsData.map((card) => (
            <MissionCard
              icon={card.icon}
              title={card.title}
              alt={card.alt}
              text={card.text}
              headerClass={card.headerClass}
            />
          ))
        }
      </div>
      <Button href="/about" color="secondary" variant="default"
        >Get to Know Our Story</Button
      >
    </div>
  </div>
</section>

<style>
  .about-mission__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .about-mission__paragraph {
    padding: 24px 0;
  }

  .about-mission__paragraph p:first-child {
    padding-bottom: 12px;
  }

  .about-mission__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 32px;
  }

  .about-mission__image-container {
    display: block;
    max-width: 100%;
  }

  .about-mission__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* --- Media Queries --- */
  @media (min-width: 690px) {
    .about-mission__title {
      width: 100%;
    }
    .about-mission__cards {
      justify-content: left;
      align-items: stretch;
      gap: 16px;
      padding-bottom: 32px;
    }
  }

  @media (min-width: 768px) {
    .about-mission__image {
      height: 420px;
      width: 100%;
      object-fit: cover;
      object-position: center 65%;
    }
  }
  @media (min-width: 1024px) {
    .about-mission__container {
      flex-direction: row;
      align-items: center;
      gap: 40px;
    }
    .about-mission__image-container {
      width: 50%;
    }
    .about-mission__image {
      width: 100%;
      height: auto;
    }
    .about-mission__content {
      width: 630px;
    }
  }
</style>
